/* Login.css */
.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #915200;

}

.login-card {
    background: linear-gradient(135deg, #ebdc87 0%, #f3e9bd 100%);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 3rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.2);
    color: #915200;
}

.login-card .form-control {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: #915200;
    padding: 0.8rem 1rem;
}

.login-card .form-control::placeholder {
    color: #915200;
}

.login-card .btn-primary {
    background: #915200;
    border: none;
    padding: 0.8rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.login-card .btn-primary:hover {
    background: #915200;
    transform: translateY(-2px);
}